

<head>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
  
  
      <link rel="stylesheet" href="static/css/reloj.css">

      <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=arbolriesgos">   
</head>

<body>
<div class="container">
  <div class="clock">
    <div class="clock-leg">
      <div class="bell"></div>
    </div>
    <div class="clock-leg">
      <div class="bell"></div>
    </div>
    <div class="clock-body">
      <div class="clock-hands"></div>
    </div>
  </div>
  <h1>Loading...</h1>
</div>
  
  

</body>
