{% extends "frontend/frontend.html" %}
{% block contenido %}

<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <style>
        
        
               
        
            
        </style>

</head>

<form action="#" method="post">
        <div class="form-group row">
                <label for="nombreproyecto" class="col-sm-5 col-form-label">Nombre del proyecto</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="nombreproyecto"
                    required="required"  title="Requiere nombre del proyecto" placeholder="Nombre del proyecto"  
                    name="nombreproyecto" value={{contact.nombreproyecto}} >
                    
                </div>
            </div>
            <div class="form-group row">
                    <label for="descripcionproyecto" class="col-sm-5 col-form-label">Descripción del proyecto</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="descripcionproyecto"
                         title="Requiere nombre del proyecto" placeholder="Descripción del proyecto"  
                        name="descripcionproyecto" value={{contact.descripcionproyecto}} >
                        
                    </div>
            </div>
            <div class="form-group row">
                <label for="objetivouno" class="col-sm-5 col-form-label">
                    Objetivos a corto plazo (0 a 1 año)
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="objetivouno" 
                    name="objetivouno" value={{contact.objetivouno}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="objetivodos" class="col-sm-5 col-form-label">
                    Objetivos a mediano plazo (2 a 5 años)
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="objetivodos" 
                    name="objetivodos" value={{contact.objetivodos}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="objetivotres" class="col-sm-5 col-form-label">
                    Objetivos a largo plazo (5 años)
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="objetivotres" 
                    name="objetivotres" value={{contact.objetivotres}}>
                </div>
            </div>


            
            <br></br>
    


  <button type="submit" class="btn btn-secondary"  value="Submit">Aceptar</button>

  <button type="submit" class="btn btn-secondary"  value="Submit">Cancelar</button>

</form>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}

