{% extends "frontend/frontend.html" %}

{% block contenido %}

<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <style>
        
        
               
        
            
        </style>

</head>

<form action="#" method="post">
        <div class="form-group row">
                <label for="entidad" class="col-sm-5 col-form-label">Nombre de la organización</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="entidad"
                    required="required"  title="Requiere nombre de la organización" placeholder="Nombre de la organización"  
                    name="entidad" value={{contact.entidad}} >
                    
                </div>
            </div>
            <div class="form-group row">
                <label for="tel" class="col-sm-5 col-form-label">Teléfono</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="tel" 
                    required="required"  title="Required phone company" placeholder="550 1000 0000"  name="tel" value={{contact.tel}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-5 col-form-label">Mail</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" 
                    required="required"  title="Required email company" placeholder="email@company.com"  name="email" value={{contact.email}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="representante" class="col-sm-5 col-form-label">Representante legal</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="representante" 
                     title="representante" placeholder="Will Smith"  name="representante" value={{contact.representante}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="usuario" class="col-sm-5 col-form-label">Nombre del usuario contacto con la empresa</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="usuario" 
                    required="required"  title="Requiere nombre del contacto con la empresa" placeholder="Cristiano Ronaldo"  name="usuario" value={{contact.usuario}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="emailusuario" class="col-sm-5 col-form-label">Email del contacto de la empresa</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="emailusuario" 
                    required="required" title="Required country company" placeholder="usuario@company.com"  name="emailusuario" value={{contact.emailusuario}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="pagweb" class="col-sm-5 col-form-label">Website</label>
                <div class="col-sm-7">
                    <input type="url" class="form-control" id="pagweb" 
                    title="Website company" placeholder="https://company.com"  name="pagweb" value={{contact.pagweb}}>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="dedica" class="col-sm-5 col-form-label">Description of product or service
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="dedica" 
                    required="required"   title="Required description of product or service company"   name="dedica" value={{contact.dedica}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="productoservice" class="col-sm-5 col-form-label">Productos / servicios
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="productoservice" name="productoservice" value={{contact.productoservice}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="mensajeventas" class="col-sm-5 col-form-label">¿Cuál es el mensaje de ventas que utiliza con un potencial cliente?
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="mensajeventas" name="mensajeventas" value={{contact.mensajeventas}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="redessociales" class="col-sm-5 col-form-label">Redes sociales</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="redessociales" name="redessociales" value={{contact.redessociales}}>
                </div>
            </div>
               
    <br></br>
    


  <button type="submit" class="btn btn-secondary"  value="Submit">Aceptar</button>

  <button type="submit" class="btn btn-secondary"  value="Submit">Cancelar</button>

</form>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}

