{% extends "frontend/frontend.html" %}

{% block contenido %}

<head>

       

</head>
	<table class="egt">
        <tr>
		  <th></th>
		  <td>{{contact.nombreproyecto}}</td>
    	<tr>
		<tr>
		  <th></th>
		  <td>{{contact.recomendacion}}</td>
    	<tr>
		
		<tr>
		  <th></th>
		  <td>{{contact.descripcionproyecto}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.objetivouno}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.objetivodos}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.objetivotres}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.cliente}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.beneficiario}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.barreras}}</td>
    	<tr>
		<tr>
		  <th></th>
		  <td>{{contact.riesgo}}</td>
    	<tr>
		<tr>
		  <th></th>
		  <td>{{contact.sroi}}</td>
    	<tr>
			<tr>
		  <th></th>
		  <td>{{contact.sroi1}}</td>
    	<tr>
				<tr>
		  <th></th>
		  <td>{{contact.sroi2}}</td>
    	<tr>
		
					
		
	</table>
{% endblock %}
