{% extends "frontend/frontend.html" %}

{% block contenido %}
<!DOCTYPE HTML>

<html>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">




                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
								<span class="image main"><img src="static/img/canal.png" alt="" /></span>
                                <span class="image main"><img src="static/img/canal1.png" alt="" /></span>
								</section>


                                                        							<!-- Content -->





						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>


			</div>

	</body>
</html>{% endblock %}
