{% extends "frontend/frontend.html" %}

{% block contenido %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">





                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>

								</section>


                                                        							<!-- Content -->
								<section>

									<span class="image main"><img src="static/img/clientes1.png" alt="" /></span>

									<span class="image main"><img src="static/img/clientes2.png" alt="" /></span>

									<span class="image main"><img src="static/img/clientes.png" alt="" /></span>


								</section>




						</div>
					</div>


			</div>



	</body>
</html>{% endblock %}
