{% extends "frontend/frontend.html" %}

{% block contenido %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->

                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>Analisis competencia</h2>
									</header>
									<div class="posts">
										<article>

											<h3>Cognitiva</h3>
											<p>El 67% de sus publicaciones son en página con contenido educativo.</p>
                                            <p>El 93% de sus publicaciones hablan sobre casos de uso de la inteligencia artificial.</p>

											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>

											<h3>Lanter</h3>
											<p>A partir del 14 marzo Lanter empezo a realizar publicaciones en inteligencia artificial aplicada al reconociminto de patrones financieros. Actualmente, a realizado 47 publicaciones.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>

									</div>
								</section>






						</div>
					</div>

			</div>


	</body>
</html>{% endblock %}
