{% extends "frontend/frontend.html" %}

{% block contenido %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">



                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="static/img/futbol.jpg" alt="" /></a>
											<h3>Futbol</h3>
											<p>Los usuarios están interactuando con temas de futbol.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="static/img/ten1.png" alt="" /></a>
											<h3>IVA</h3>
											<p>En el mes de junio el 38% de las busquedas fue sobre IVA.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
												<a href="#" class="image"><img src="static/img/huelga.jpeg" alt="" /></a>
												<h3>Tema futuro: huelga y día de las madres</h3>
												<p>Para agosto el tema de huelga.</p>
												<p>Para agosto el tema del día de las madres.</p>
												<ul class="actions">
													<li><a href="#" class="button">More</a></li>
												</ul>
										</article>


									</div>
								</section>






						</div>
					</div>


			</div>


	</body>
</html>
{% endblock %}
